@import "src/assets/variables";

.card-grid-container {
  display: flex;
  justify-content: center;
  width: calc(100% + 70px);
  margin: 0 -35px;
  padding: 10px 0;
  flex-wrap: wrap;
  height: auto;

  @media (max-width: $lg_breakpoint) {
    width: 100%;
    margin: 0
  }
}
