@import "src/assets/variables";

.grid-container {
  display: flex;
  width: calc(100% + 70px);
  margin: 0 -35px;
  padding: 10px 0;
  flex-wrap: wrap;
  height: auto;

  @media (max-width: $tablet_breakpoint) {
    width: calc(100% + 48px);
    margin: 0 -24px;
  }

  @media (max-width: $mobile_breakpoint) {
    width: calc(100% + 48px);
  }
}
