@import "src/assets/variables";

.filters-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;

  .dropdown {
    p {
      padding: 5px 15px;

      &:hover {
        background: $very_light_gray;
        cursor: pointer;
      }
    }
  }
}


.card-grid-container {
  display: flex;
  justify-content: center;
  width: calc(100% + 70px);
  margin: 0 -35px;
  padding: 10px 0;
  flex-wrap: wrap;
  height: auto;

  @media (max-width: $lg_breakpoint) {
    width: 100%;
    margin: 0
  }
}
