@import "src/assets/variables";

.search-wrapper{
  display: flex;
  padding: 15px;
  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);

  .search-icon {
    color: #b5b5b5;
    padding: 0 20px;
  }

  .input-field {
    width: 450px;
    border: none;
    &:focus-visible {
      outline: none;
    }
  }
}

.dark {
  .search-wrapper, .input-field {
    background: $dark_blue;
    color: $white;
  }
}

