@import "src/assets/variables";

.navbar {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: $white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);

  .navbar-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 800;
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }

    @media (max-width: $lg_breakpoint) {
      h2 {
        font-weight: 800;
        font-size: 17px;
      }

      p {
        font-size: 15px;
        font-weight: 600;
      }
    }


    @media (max-width: $sm_breakpoint) {
      h2 {
        font-weight: 800;
        font-size: 16px;
      }

      p {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
