@import "src/assets/variables";
* {
  font-family: Nunito Sans, sans-serif;
}

body {
  margin: 0;
  width: 100%;
}

.wrapper {
  max-width: $desktop_breakpoint;
  padding: 0 120px;
  margin: 0 auto;
  clear: both;
  @media (max-width: $tablet_breakpoint) {
    padding: 0 58px;
  }
  @media (max-width: $mobile_breakpoint) {
    padding: 0 12px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
