@import "src/assets/variables";

* {
  font-family: Nunito Sans, sans-serif;
}

body {
  margin: 0;
  width: 100%;
}

ion-icon {
  font-size: 22px;
  @media (max-width: $md_breakpoint) {
    font-size: 18px;
  }
}

p, span {
  @media (max-width: $md_breakpoint) {
    font-size: 14px;
  }
}

.wrapper {
  max-width: $xl_breakpoint;
  padding: 0 60px;
  margin: 0 auto;
  clear: both;
  @media (max-width: $lg_breakpoint) {
    padding: 0 48px;
  }
  @media (max-width: $sm_breakpoint) {
    padding: 0 20px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
